@{
    ViewBag.Title = "Sentinal";
}
@model WebJob.Host.Models.VersionModel
<div class="jumbotron">
    <h1>WebJob Deploy Status</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Version @Model.Version</h2>
    </div>
</div>